body {
    color: black;
    line-height: 1.5em;
    margin: 0px auto 0px auto;
    max-width: 768px;
    padding: 0 1em;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
}

div#footer div.rc-webring {
    text-align: left;
    float: left;
}

div#footer div.rc-webring img {
    height: 1em;
    vertical-align: middle;
}

div#footer div.rc-scout {
    text-align: right;
    float: right;
}

div.sourceCode {
    line-height: 1em;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

pre {
    overflow: auto;
    line-height: 1em;
}
