<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vaibhav Sagar - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Vaibhav Sagar</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
                <a href="/archive/">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            <script async defer src="https://www.recurse-scout.com/loader.js?t=5ac465e5d3396a7e491e42afac4c5c90"></script>
        </div>
    </body>
</html>
