<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - Vaibhav Sagar</title>
        <link href=data:, rel=icon>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="alternate" type="application/atom+xml"
            title="RSS feed for vaibhavsagar.com"
            href="/atom.xml" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Vaibhav Sagar</a>
            </div>
            <div id="navigation">
                <a href="/about/">About</a>
                <a href="/talks/">Talks</a>
                <a href="/archive/">Archive</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            <div class="rc-webring">
                <a href='https://webring.recurse.com'><img src='https://webring.recurse.com/icon.svg'/> RC Webring</a>
            </div>
            <div class="rc-scout">
                <script async defer src="https://www.recurse-scout.com/loader.js?t=5ac465e5d3396a7e491e42afac4c5c90"></script>
            </div>
        </div>
        <script data-goatcounter="//vaibhavsagar.goatcounter.com/count"
            async src="//gc.zgo.at/count.js"></script>
        <script type="text/javascript" id="MathJax-script"
            async src="//cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>
        <script>
        window.MathJax = {
            loader: {load: ['[tex]/color', '[tex]/cancel', '[tex]/textmacros']},
            tex: {packages: {'[+]': ['color', 'cancel', 'textmacros']}}
        };
        </script>
    </body>
</html>
